<div class="container">

  <h2>Customers</h2>
  <div class="well">
    <%= link_to "New Customer", new_customer_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-customer"></div>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="customers">
    <%= render @customers %>
    </tbody>
  </table>

  <%= render 'dialog' %>

</div>